PORT=3000
LOG_FORMAT=dev
DATABASE_DRIVER=postgres
DATABASE_URL=postgresql://film_user:strong_password_123@postgres:5432/film_db
DATABASE_USERNAME=film_user
DATABASE_PASSWORD=strong_password_123
DATABASE_NAME=film_db
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=admin_pass_456